.contenedor{
	max-width: 800px;
	margin: auto;
}

.menu{
	background-color: yellow;
}

.menu ul li{ 
	display: inline-block;
	margin: 0 5px;
}

.menu ul{
	float: right;
}

header{
	background: cyan;
	text-align: center;
	padding: 100px 0;
}

.info1 article{
	display: inline-block;
	width: 49%;
}